<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>conveyorbelt.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{259,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{259,8}}</string>
                <key>sourceSize</key>
                <string>{259,8}</string>
            </dict>
            <key>conveyorbottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,12},{259,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{259,9}}</string>
                <key>sourceSize</key>
                <string>{259,9}</string>
            </dict>
            <key>conveyorrotor.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,12},{26,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,25}}</string>
                <key>sourceSize</key>
                <string>{26,25}</string>
            </dict>
            <key>conveyorstand.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,12},{22,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,24}}</string>
                <key>sourceSize</key>
                <string>{22,24}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>conveyorbelt.png</string>
            <key>size</key>
            <string>{512,64}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a6afa4e90e74af581a77548592a17f8f:13cf5c0f9a0f486411f87d4cec61cc07:dbca6cc5cc01f20fd88935270fed001f$</string>
            <key>textureFileName</key>
            <string>conveyorbelt.png</string>
        </dict>
    </dict>
</plist>
